body {
	font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial,
		sans-serif;
	font-size: 13px;
	line-height: 1.42857143 !important;
	color: #58666e !important;
	width:80%;
	margin:0 auto;
	background-color: #f0f3f4
}

table {
	font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial,
		sans-serif;
	font-size: 13px;
	line-height: 1.42857143 !important;
	color: #58666e !important;
}