body {
	font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial,
		sans-serif;
	font-size: 13px;
	line-height: 1.42857143 !important;
	color: #58666e !important;
	width:80%;
	margin:0 auto;
	background-color: #f0f3f4
}

table {
	font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial,
		sans-serif;
	font-size: 13px;
	line-height: 1.42857143 !important;
	color: #58666e !important;
}

.ui-widget-content{
	border: 0px solid #a8a8a8 !important;
	background: #ffffff;
	color: #4f4f4f;
	
}
.ui-tabs .ui-tabs-panel{
	border-width: 0 !important;
	padding: 1em 0em !important;
	background: none !important;
}
.ui-tabs .ui-tabs-nav {
    background: #fff !important;
    background: #fff linear-gradient(top, rgba(255,255,255,0.8), rgba(255,255,255,0)) !important;
    background: #fff -webkit-gradient(linear, left top, left bottom, from(rgba(255,255,255,0.8)), to(rgba(255,255,255,0))) !important;
    background: #fff -moz-linear-gradient(top, rgba(255,255,255,0.8), rgba(255,255,255,0)) !important;
    filter: p
    rogid:DXImageTransform.Microsoft.gradient(startColorstr=#DDFFFFFF, endColorstr=#00FFFFFF);
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
}

.preguntas{
	font-weight: bold;
	color: #263238;
}
.titulo-objetivos{
	color: #263238;
	font-size: 18px;
}
.titulo-estrategias-lineas{
	color: #263238;
	font-size: 14px;
}

.input-text-preguntas{
	width: 80%;	
}

input[type=text]: disabled {
	background: #dddddd !important;

}
input:DISABLED {
	background: #dddddd !important;
}
.ui-selectonemenu.ui-state-disabled .ui-selectonemenu-label {
	cursor: not-allowed !important
}

#detallesFormato{
	width:94%;
	margin:0 auto; 
	border:2px solid  #ddd !important;
	margin-top: 30px;
}
.etiquetasDetalles{
	font-weight:700;
}
#capturaFormato{
	margin:0 auto;
	background: #F9F9F9;
	padding: 5px;
	padding-left: 20px;
	border-bottom: 3px solid #ddd;
	width:97%;	
	font-size: 1.0rem;
}
#logout{
	background-color: #f5f5f5 !important;height: 55px;position: fixed;z-index: 1000; width:80%;border-bottom: 3px solid #ddd;
}
.buttonIndex{background-color: white !important; font-size: 12px !important; margin-left:1% !important;
border-bottom-color: #1c84c6 !important; border-color: #1c84c6 !important; color: #1c84c6 !important; }
.headerTable{background-color: white !important;}
.ui-datatable .ui-paginator,
.ui-datatable .ui-paginator {
    padding: 2px !important;
    background-color: white !important;
}
.ui-dialog .ui-dialog-titlebar{
	background-color: #F9F9F9 !important;
}
.ui-growl {    
    position:fixed;
    top: 7%;
    left: 60%;
    width: 360px;
    height: 110px;
    cursor: pointer;
/*     z-index:9999;  */
}
.ui-state-active a, .ui-state-active a:link, .ui-state-active a:visited {
    color: #2384b9 !important;
    border-bottom: 2px solid #2384b9; 
}
.tabEditInfor{
	background: white !important; 
	border: none !important;
}