body {
	font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial,
		sans-serif;
	font-size: 13px;
	line-height: 1.42857143 !important;
	color: #58666e !important;
	width:80%;
	margin:0 auto;
	background-color: #f0f3f4
}

table {
	font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial,
		sans-serif;
	font-size: 13px;
	line-height: 1.42857143 !important;
	color: #58666e !important;
}

.ui-widget-content{
	border: 0px solid #a8a8a8 !important;
	background: #ffffff;
	color: #4f4f4f;
	
}
.ui-tabs .ui-tabs-panel{
	border-width: 0 !important;
	padding: 1em 0em !important;
	background: none !important;
}
.ui-tabs .ui-tabs-nav {
    background: #fff !important;
    background: #fff linear-gradient(top, rgba(255,255,255,0.8), rgba(255,255,255,0)) !important;
    background: #fff -webkit-gradient(linear, left top, left bottom, from(rgba(255,255,255,0.8)), to(rgba(255,255,255,0))) !important;
    background: #fff -moz-linear-gradient(top, rgba(255,255,255,0.8), rgba(255,255,255,0)) !important;
    filter: p
    rogid:DXImageTransform.Microsoft.gradient(startColorstr=#DDFFFFFF, endColorstr=#00FFFFFF);
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
}

.preguntas{
	font-weight: bold;
	color: #263238;
}
.titulo-objetivos{
	color: #263238;
	font-size: 18px;
}
.titulo-estrategias-lineas{
	color: #263238;
	font-size: 14px;
}

.input-text-preguntas{
	width: 400px;	
}
